<div class="board <%= @state.current %>">
  <!--  loop over all positions in the @state struct -->
  <!-- assigned in the live view and an empty <button> elements for each -->
  <%= for _position <- @state.positions do %>

  <button></button>
  <% end %>
</div>
